In [1]:
import numpy as np

In [2]:
taxi=np.genfromtxt('nyc_taxis.csv',delimiter=',',skip_header=True)

In [5]:
import pandas as pd
df=pd.read_csv(r'C:\Users\DELL\Anaconda\nyc_taxis.csv')

In [6]:
df.head()

,pickup_year,pickup_month,pickup_day,pickup_dayofweek,pickup_time,pickup_location_code,dropoff_location_code,trip_distance,trip_length,fare_amount,fees_amount,tolls_amount,tip_amount,total_amount,payment_type
0,2016,1,1,5,0,2,4,21.00,2037,52.0,0.8,5.54,11.65,69.99,1
1,2016,1,1,5,0,2,1,16.29,1520,45.0,1.3,0.00,8.00,54.30,1
2,2016,1,1,5,0,2,6,12.70,1462,36.5,1.3,0.00,0.00,37.80,2
3,2016,1,1,5,0,2,6,8.70,1210,26.0,1.3,0.00,5.46,32.76,1
4,2016,1,1,5,0,2,6,5.56,759,17.5,1.3,0.00,0.00,18.80,2

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89560 entries, 0 to 89559
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   pickup_year            89560 non-null  int64
 1   pickup_month           89560 non-null  int64
 2   pickup_day             89560 non-null  int64
 3   pickup_dayofweek       89560 non-null  int64
 4   pickup_time            89560 non-null  int64
 5   pickup_location_code   89560 non-null  int64
 6   dropoff_location_code  89560 non-null  int64
 7   trip_distance          89560 non-null  float64
 8   trip_length            89560 non-null  int64
 9   fare_amount            89560 non-null  float64
 10  fees_amount            89560 non-null  float64
 11  tolls_amount           89560 non-null  float64
 12  tip_amount             89560 non-null  float64
 13  total_amount           89560 non-null  float64
 14  payment_type           89560 non-null  int64
dtypes: float64(6), int64(9)
memory usage: 10.2 MB

In [8]:
df.columns

Index(['pickup_year', 'pickup_month', 'pickup_day', 'pickup_dayofweek',
       'pickup_time', 'pickup_location_code', 'dropoff_location_code',
       'trip_distance', 'trip_length', 'fare_amount', 'fees_amount',
       'tolls_amount', 'tip_amount', 'total_amount', 'payment_type'],
      dtype='object')

In [9]:
df.shape

(89560, 15)

In [10]:
speed=taxi[:,7]/(taxi[:,8]/3600)

In [12]:
mean_speed=speed.mean()
print(mean_speed)

32.24258580925573

In [14]:
rides_feb=taxi[taxi[:,1] == 2,1]
print(rides_feb.shape[0])

13333

In [15]:
print(taxi[taxi[:,-3] > 50,-3].shape[0])

16

In [16]:
print(taxi[taxi[:,6]==2,6].shape[0])

11832